<!doctype html>
<html lang="">
  <head>
      <meta charset="utf-8" />
      <title></title>
      <meta name="description" content="" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />      
      <link href="styles.css" rel="stylesheet" type="text/css">
      <script src="index.js" type="text/javascript"></script>
  </head>
  <body>
      <div class="container">
          <h1>Refresh Tokens in ASP.NET Web Api Core demo project</h1>
          <h1>Signed in As: <span id="signedInAs">Anonymous</span></h1>
          <fieldset>
              <legend>Create New User</legend>
              <label for="newUsername">Username</label>
              <input type="text" id="newUsername"/>
              <label for="password">Password</label>
              <input type="password" id="password"/>              
              <label for="repassword">Retype Password</label>
              <input type="password" id="repassword"/>                            
              <button id="btCreate">Create</button>
              <div id="newUserFeedback" class="feedback"></div>
          </fieldset>
      </div>      
  </body>
</html>
